html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

#title {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 0;
    font-size: 2.5rem;
}

#container {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 4px;
    width: 80vw;
    max-width: 400px;
    height: 7vh;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    background-color: #264653;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px -2px, rgba(0, 0, 0, 0.1) 0px 0px 8px -1px;
}
#display p {
    font-size: 1.5rem;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-right: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #aad8d2;
    overflow: hidden;
}

#panel {
    font-size: 1.5rem;
    border-radius: 4px;
    width: 80vw;
    max-width: 400px;
    height: 80vw;
    max-height: 400px;
    display: flex;
    padding: 3px;
    justify-content: space-around;
    background-color: #264653;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
}

.numbers {
    display: flex;
    width: calc(60vw - 6px);
    height: calc(80vw - 6px);
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.btn {
    border: 1px solid black;
    border-radius: 4px;
    width: calc((60vw/3) - 3px);
    height: calc((60vw/3) - 3px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.numbers .btn {
    background-color: #35ad9f;
}

.controls {
    width: calc(20vw - 6px);
    height: calc(80vw - 6px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.controls .btn {
    width: calc((20vw) - 3px);
    height: calc((80vw/6) - 3px);
}
.erase, .clear {
    background-color: #e76f51;
}
.btn.operator {
    background-color: #f4a261;
}
.btn.point, .btn.equal {
    background-color: #e9c46a;
}

.disabled {
    pointer-events: none;
}

/* btn animation */
.btn {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  transition: box-shadow .15s,transform .15s;
  touch-action: manipulation;
  will-change: box-shadow,transform;
}

.btn:focus {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  transform: translateY(-1px);
}

.btn:active {
  transform: translateY(1px);
}

@media (min-width: 500px) {
    .numbers {
        width: 80%;
        height: 100%;
    }
    .btn {
        width: calc((100%/3) - 3px);
        height: calc((100%/4) - 3px);
    }
    
    .controls {
        width: 20%;
        height: 100%;
    }
    .controls .btn {
        width: calc((100%) - 3px);
        height: calc((100%/6) - 3px);
    }
}