html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#title {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 0;
}

#container {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    border: 1px solid black;
    width: 80vw;
    height: 7vh;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#panel {
    width: 80vw;
    height: 80vw;
    display: flex;

}

.numbers {
    display: flex;
    width: 60vw;
    height: 80vw;
    flex-wrap: wrap;

}
.btn {
    border: 1px solid black;
    width: calc(60vw/3);
    height: calc(60vw/3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
    width: 20vw;
    height: 80vw;
    display: flex;
    flex-direction: column;
}
.btn.operation {
    flex: 1 1;
}